In [2]:
import os
import glob
import psycopg2
import pandas as pd

In [3]:
# Add path to events log
log_path = 'data/log_data/2018/11/'

In [4]:
# Add all log file names to list
all_files = []

for root, dirs, files in os.walk(log_path):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))

In [6]:
# Extract file contents from jsons

df_log = pd.DataFrame()

for ind in range(len(all_files)):
    df_new_file = pd.read_json(all_files[ind], lines=True)
    df_log = df_log.append(df_new_file, ignore_index=True)

df_log.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

### Check whether there are different values in 'level' other than free

In [7]:
df_log[df_log['level'] != 'free'].head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

### check how many unique values are in level

In [45]:
# print number of unique values in level
print('number of unique values in level: ', df_log.level.nunique())

number of unique values in level:  2

# song file structure

In [8]:
# Add path to events log
song_path = 'data/song_data/'

In [9]:
# Add all log file names to list
all_files = []

for root, dirs, files in os.walk(song_path):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))

In [11]:
# Extract file contents from jsons

df_song = pd.DataFrame()

for ind in range(len(all_files)):
    df_new_file = pd.read_json(all_files[ind], lines=True)
    df_song = df_log.append(df_new_file, ignore_index=True, sort=True)

df_song.head(3)

,artist,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,auth,duration,firstName,gender,...,registration,sessionId,song,song_id,status,title,ts,userAgent,userId,year
0,Stephen Lynch,NaN,NaN,NaN,NaN,NaN,Logged In,NaN,Jayden,M,...,1.540992e+12,829.0,Jim Henson's Dead,NaN,200.0,NaN,1.543537e+12,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91,NaN
1,Manowar,NaN,NaN,NaN,NaN,NaN,Logged In,NaN,Jacob,M,...,1.540558e+12,1049.0,Shell Shock,NaN,200.0,NaN,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73,NaN
2,Morcheeba,NaN,NaN,NaN,NaN,NaN,Logged In,NaN,Jacob,M,...,1.540558e+12,1049.0,Women Lose Weight (Feat: Slick Rick),NaN,200.0,NaN,1.543540e+12,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73,NaN

In [52]:
# Count unique values in each column
df_song.nunique(dropna=False)

artist              3150
artist_id              2
artist_latitude        2
artist_location        2
artist_longitude       2
artist_name            2
auth                   3
duration               2
firstName             87
gender                 4
itemInSession        129
lastName              89
length              3995
level                  3
location              65
method                 3
num_songs              2
page                  14
registration          98
sessionId            942
song                5191
song_id                2
status                 4
title                  2
ts                  8024
userAgent             42
userId               135
year                   2
dtype: int64

In [58]:
# Check values of non NaN locations
df_song.dropna(how='any', subset=['artist_latitude'])

,artist,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,auth,duration,firstName,gender,...,registration,sessionId,song,song_id,status,title,ts,userAgent,userId,year
8071,NaN,AREVWGE1187B9B890A,-13.442,Noci (BA),-41.9952,Bitter End,NaN,282.43546,NaN,NaN,...,NaN,NaN,NaN,SOFCHDR12AB01866EF,NaN,Living Hell,NaN,NaN,NaN,0.0